.que1-answer h2{
    font-size: 20px;
}
.que1-answer p{
    font-size: 10px;
}
.que2-answer h2{
    font-size: 20px;
}
.que2-answer p{
    font-size: 10px;
}
.que3-answer h2{
    font-size: 20px;
}
.que3-answer p{
    font-size: 10px;
}
.que4-answer h2{
    font-size: 20px;
}
.que4-answer p{
    font-size: 10px;
}
