@font-face {
    font-family: 'rocks';
    src: url('rocks.otf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'soft';
    src: url('soft.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
:root {
    --soft-font: 'soft', sans-serif;
    --strong-font: 'rocks', 'soft', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    font-family: var(--soft-font), sans-serif;
}